<!-- views/partials/sidenav.ejs -->
<nav class="d-none d-md-block bg-light sidebar">
     <div class="sidebar-sticky">
       <ul class="nav flex-column">
         <li class="nav-item">
           <a class="nav-link active" href="#">
             <span data-feather="home"></span>
             Dashboard <span class="sr-only">(current)</span>
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">
             <span data-feather="file"></span>
             O'level Only Vs O&A'level
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">
             <span data-feather="shopping-cart"></span>
             Level of Tuition across schools
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">
             <span data-feather="users"></span>
             School size based on students
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">
             <span data-feather="bar-chart-2"></span>
             Schools enrolled over time
           </a>
         </li>

       </ul>

       
     </div>
   </nav>
